<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form  method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul>
                    {% for err in form.non_field_errors %}
                        <li>{{err}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in form %}
            <p>
                <label for="{{field.id_for_lable}}">{{field.label}}</label>
                {{field}}
                {% if field.errors %}
                    <ul>
                        {% for err in field.errors %}
                            <li>{{err}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
